/*-------------------------------*/
/*- RESET -----------------------*/
/*- http://richclarkdesign.com --*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
  list-style: none; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none; }

ins {
  text-decoration: none; }

mark {
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

/*-------------------------------*/
/*- CLEARFIX --------------------*/
/*-------------------------------*/
.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

.row:before, .row:after {
  content: " ";
  display: table; }

.row:after {
  clear: both; }

.row {
  *zoom: 1; }

.button-group:before, .button-group:after {
  content: " ";
  display: table; }

.button-group:after {
  clear: both; }

.button-group {
  *zoom: 1; }

.form-row:before, .form-row:after {
  content: " ";
  display: table; }

.form-row:after {
  clear: both; }

.form-row {
  *zoom: 1; }

.title:before, .title:after {
  content: " ";
  display: table; }

.title:after {
  clear: both; }

.title {
  *zoom: 1; }

.story:before, .story:after {
  content: " ";
  display: table; }

.story:after {
  clear: both; }

.story {
  *zoom: 1; }

/*nav:before, nav:after{content: " "; display: table;}
nav:after{clear: both;}
nav{*zoom: 1;}*/
